* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1da1f2;
  --secondary-color: #9333ea;
  --background-color: #f9fafb;
  --text-color: #1f2937;
  --border-radius: 12px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.loading {
  position: sticky;
  top: 0;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
