@media (max-width: 768px) {
  .auth-page__main {
    padding: 16px;
  }

  .auth-page__main h2 {
    font-size: 20px;
  }

  .homepage {
    padding: 15px;
  }

  .homepage-title {
    font-size: 20px;
  }
}
